body {
  font-weight: 100;
}
body > div {
  border: 2px solid black;
  padding: 20px;
  margin: 10px 0px;
}

.stricken {
  text-decoration: line-through;
}

.goal:hover {
  cursor: pointer;
}

button {
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: hsl(240, 92%, 58%);
}

input {
  border: 2px solid black;
  border-radius: 5px;
}

label,
li {
  font-size: 20px;
}
